*{
    padding: 0;
    margin: 0;
    /* not using
    box-sizing: border-box;*/
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    /* width: 100*4 + gap:10*3 + padding:25*2 = total: 530*/
    max-width: 500px; 
    background-color: hsl(0, 0%, 15%);
    border-radius: 30px;
    /* new: <overflow:hidden>; using it as a child instead of box-sizing*/
    overflow: hidden;
    
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 3rem;
    /* text-align: left; */
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 20%);
    color: white;

}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#keys #btn-zero {
    grid-column: span 2;
}
/* hardcode */
/* #keys button:nth-child(17) {
    grid-column: span 2;
} */
.btn{
    width: 100px;
    height: 100px;
    /* width, height mandatory for border-radius */
    border-radius: 50px;
    border: none;
    font-size: 3rem;
    color: white;
    background-color: hsl(0, 0%, 30%);
    font-weight: bold;

}
#btn-zero{
    border: none;
    font-size: 3rem;
    color: white;
    background-color: hsl(0, 0%, 30%);
    font-weight: bold;

    border-radius: 50px;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover{
    background-color: hsl(35, 100%, 65%)
}

.operator-btn:active{
    background-color: hsl(35, 100%, 75%)
}

